# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
/.idea
# testing
/coverage

# production
/dist
app_build

# Local env files
.env
.env.*
!.env.example

# misc
.DS_Store
.VSCodeCounter
.history/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock

# Strut
/public/app